
  .button {
    height: 50px;
    width: 55px;
    color: black;
    background-color: antiquewhite;
    margin: 1px;
  }

  .equals {
    background-color: aquamarine;
  }

  .delete {
    background-color: red;
  }

  .displayVal {
    font-size: 21pt;
    font-weight: 1000;
    margin-bottom: 10px;
    word-wrap: break-word;
    overflow:hidden;
    display: flex;
    justify-content: right;
  }

  .calcVal {
    display: flex;
    justify-content: right;
    font-size: 14pt;
    font-weight: 700;
  }

  .hidden {
    visibility: hidden;
  }

  .toastNotification {
    display: flex;
    background-color: aquamarine;
    border-radius: 5px;
    color: black;
    justify-content: center;
    animation: fadeInOut 4s linear 1 forwards;
    font-weight: 600;
  }

  .toastFadeOut {
    visibility: hidden;
    opacity: 0;
    transition: visibility 2s linear 2000ms, opacity 300ms;
  }
  .toastFadeIn {
    visibility: visible;
    opacity: 1;
    transition: visibility 2s linear 400ms, opacity 300ms;
  }

  .sqrt {
    padding-left: 15px;
  }