#root {
  max-width: 292px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  transform: scale(1.5);
  overflow: hidden;

}

.logo {
  height: 2em;
  padding: 0em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.provider {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 10px;
  margin-bottom: 18px;
  font-weight: 600;
}

